# Copy to .env and fill in values
DB_PASSWORD=Velociraptor1
JWT_SECRET=Pt4fzaDiPZp9L0NPlN6RWIkTpjP9jOiL1xjJAeSaRy08GKoO1i1tRTPHKo7dh2Z9
REFRESH_SECRET=d772c40f216230fd9aaa2e5f5afbd7f48adbb1fc8d8053b4e3039baf19d88746
PUBLIC_URL=https://your-domain.com   # Used to build media download URLs for RPi
